	   	h1{
			text-align: middle; 
			font-family: Luminari;
			color: white;
			font-size:1.5em;
		}
		h2{
			font-family: Luminari;
			font-size:1.5em;
			color: pink;
		}
		body{
			margin:3em;
			text-align: center;
			background-image: url("799779569683177954.jpg");
			background-repeat: no-repeat;
 			background-size: 100%;
			}
		p{
			margin-left:5em;
			margin-right:5em;
			color: white;
			font-size:1.5em;
			font-family: Bold;
		}
		ul{
			list-style-type: square;
			padding: 1.5em;
			text-align: left;
			font-family: Arial;
			font-size:1em;
			color:#4E25CC;
			border: solid;
			border-color: brown;
			border-style: inset;
			border-width: 1em;
			margin:4em;
			margin-left:30%;
			margin-right:30%;
			background-color:#a3ccff;
		}
	
