		h1{
			font-family: 'Over the Rainbow';
			margin-left:5em;
			margin-right:5em;
			text-align: center;
			margin-top: 5%; 
			color: #ade0c4;
		}
		
		li{
			margin-bottom: 0.7em;
			list-style-type: none;
			margin-left:15em;
			margin-right:15em;
			border:solid;
			border-style:groove;
			border-color: grey;
			border-width: 0.5em;
			background-color: #666699;
			font-family: 'Pacifico', cursive;
			text-align: center; 
			font-size:1.5em;
		}
		
		a:link{
			color: white;	
			text-decoration: none;	
		}	
		
		a:visited{
			color: white;
			text-decoration: none;	
		}	
		
		a:hover{
			color:red;
		}
		
		a:active{
			color:green;
		}

		b{
			font-size: 5em;
			color: #f29c08;
			font-family: 'Gloria Hallelujah';
		}
		#right{
			margin-right:5em;
			float:right;
		}
		body{
			margin-left:5em;
			margin-right:5em;
			text-align: center;
			background-image: url("123.gif");
			}
		p{	
			margin-left:5em;
			margin-right:5em;
			padding:0.5em;
			border-style: inset;
			text-align: center;
			font-size: 1.5em;
			color: SaddleBrown;
		}

